<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Petanque</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-grid>

        <ion-row col-12>
            <ion-col col-12 text-center>
                <h1 ion-text color="primary">Mon suivi Pétanque</h1>
            </ion-col>
        </ion-row>

        <!-- choix annee -->
        <div padding>
            <ion-row class="row-flex">
                <ion-col col-12 text-center>
                    <ion-item>
                        <ion-label>Année</ion-label>
                        <ion-select [(ngModel)]="annee" (ngModelChange)="onChangeYear($event)">
                            <ion-option value="2017">2017</ion-option>
                            <ion-option value="2018">2018</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
        </div>

        <!-- choix type de competition -->
        <div padding>
            <ion-row class="row-flex">
                <ion-segment [(ngModel)]="typeCompetition" color="primary">
                    <ion-segment-button value="concours" (ionSelect)="selectConcours()">
                        Concours
                    </ion-segment-button>
                    <ion-segment-button value="championnat" (ionSelect)="selectChampionnat()">
                        Championnat
                    </ion-segment-button>
                </ion-segment>
            </ion-row>
        </div>

        <!-- ajout concours -->
        <div padding *ngIf="typeCompetition == 'concours'">
            <ion-row class="row-flex">
                <ion-col col-12 text-center>
                    <button ion-button block (click)="addConcours()" *ngIf="displayFormConcours === false">
                        <ion-icon class="icon-btn-padding-right" name="add"></ion-icon>
                        <span> Ajouter concours </span>
                    </button>
                    <button ion-button block (click)="cancelConcours()" *ngIf="displayFormConcours === true">
                        Annuler concours
                    </button>
                </ion-col>
            </ion-row>
            <ion-row class="row-flex">
                <ion-col col-12 text-center>
                    <span color="primary">Résumé</span>
                    <ion-badge item-end>{{nbConcours}} concours</ion-badge>
                </ion-col>
            </ion-row>
        </div>

        <!-- ajout championnat -->
        <div padding *ngIf="typeCompetition == 'championnat'">
            <ion-row class="row-flex">
                <ion-col col-12 text-center>
                    <button ion-button block (click)="addQualif()" *ngIf="displayFormQualifs === false">
                        <ion-icon class="icon-btn-padding-right" name="add"></ion-icon>
                        <span> Ajouter championnat</span>
                    </button>
                    <button ion-button block (click)="cancelQualif()" *ngIf="displayFormQualifs === true">
                        Annuler championnat
                    </button>
                </ion-col>
            </ion-row>
            <ion-row class="row-flex">
                <ion-col col-12 text-center>
                    <span color="primary">Résumé</span>
                    <ion-badge item-end>{{nbConcours}} championnats</ion-badge>
                </ion-col>
            </ion-row>
        </div>

        <!-- zone de saisie des formulaires d'ajout -->
        <div>
            <ion-row class="row-flex">
                <!-- Formulaire de saisie de concours -->
                <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 *ngIf="displayFormConcours">
                    <component-edit-concours></component-edit-concours>
                </ion-col>
                <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 *ngIf="displayFormQualifs">
                    <component-qualif></component-qualif>
                </ion-col>
            </ion-row>
        </div>

        <!-- liste des competitions -->
        <div>
            <!-- liste des concours -->
            <ion-row class="flex-center">
                <ion-col col-12>
                    <ion-list text-center>
                        <ion-item *ngFor="let concours of myConcours | async | year: annee">
                            <component-concours [concours]="concours" [annee]="annee"></component-concours>
                            <!--<ion-card *ngIf="concours.annee == annee">-->
                                <!--<ion-card-content>-->
                                    <!--<ion-card-title class="card-concours">-->
                                        <!--<ion-row class="card-concours">-->
                                            <!--<ion-col>-->
                                                <!--<div class="card-title">{{concours.name}}</div>-->
                                            <!--</ion-col>-->
                                            <!--<ion-col>-->
                                                <!--<div class="card-title-date">-->
                                                    <!--<ion-item>-->
                                                        <!--<ion-icon name="calendar"></ion-icon>-->
                                                        <!--{{concours.date}}-->
                                                    <!--</ion-item>-->
                                                <!--</div>-->
                                            <!--</ion-col>-->
                                            <!--<ion-col *ngIf="concours.points && concours.points > 0">-->
                                                <!--<ion-badge>{{concours.points}} pts</ion-badge>-->
                                            <!--</ion-col>-->
                                        <!--</ion-row>-->
                                    <!--</ion-card-title>-->
                                    <!--<ion-row>-->
                                        <!--<ion-col>-->
                                            <!--<ion-item *ngIf="concours.ville">-->
                                                <!--<ion-icon name="pin"></ion-icon>-->
                                                <!--{{concours.ville}}-->
                                            <!--</ion-item>-->
                                        <!--</ion-col>-->
                                        <!--<ion-col>-->
                                            <!--<ion-item *ngIf="concours.formation">-->
                                                <!--<formation formation="{{concours.formation}}"></formation>-->
                                            <!--</ion-item>-->
                                        <!--</ion-col>-->
                                    <!--</ion-row>-->
                                    <!--<ion-row>-->
                                        <!--<ion-col *ngIf="concours.nbEquipes && concours.nbEquipes > 0">-->
                                            <!--{{concours.nbEquipes}} équipes-->
                                        <!--</ion-col>-->
                                        <!--<ion-col *ngIf="concours.nbPartiesGagnees || concours.nbPartiesPerdues">-->
                          <!--<span *ngIf="concours.nbPartiesGagnees > 0"-->
                                <!--class="color-secondary">{{concours.nbPartiesGagnees}}G</span>-->
                                            <!--<span *ngIf="concours.nbPartiesPerdues > 0"-->
                                                  <!--class="color-danger">{{concours.nbPartiesPerdues}}P</span>-->
                                        <!--</ion-col>-->
                                        <!--<ion-col *ngIf="concours.resultat !== ''">-->
                                            <!--<span>{{concours.resultat}}</span>-->
                                            <!--<span *ngIf="concours.repechage">( repechage )</span>-->
                                        <!--</ion-col>-->
                                    <!--</ion-row>-->
                                    <!--<ion-row class="flex-center">-->
                                        <!--<button ion-button (click)="editConcours(concours)">Modifier</button>-->
                                    <!--</ion-row>-->
                                <!--</ion-card-content>-->
                            <!--</ion-card>-->
                            <!-- {{concours | json}} -->
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
        </div>
    </ion-grid>
</ion-content>
