page-petanque {
    .card-concours{
        ion-card-header{
            .card-concours-row-header{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .card-concours-row-header-title{
                    font-size: 1.2em;
                }
                .card-concours-row-header-date{
                    text-align: right;
                }
            }
        }


        .card-title-date{
            display: flex;
            justify-content: flex-end;
        }

    }
}


