<div *ngIf="myFormation === 'teteatete'">
  <ion-icon name="man" color="primary"></ion-icon>
  <ion-icon name="man" color="primary"></ion-icon>
</div>

<div *ngIf="myFormation === 'doublette'">
    <ion-icon name="man" color="primary"></ion-icon>
    <ion-icon name="man" color="primary"></ion-icon>
</div>

<div *ngIf="myFormation === 'triplette'">
    <ion-icon name="man" color="primary"></ion-icon>
    <ion-icon name="man" color="primary"></ion-icon>
    <ion-icon name="man" color="primary"></ion-icon>
</div>

<!-- MIXTES -->
<div *ngIf="myFormation === 'doublette mixte'">
    <ion-icon name="man" color="primary"></ion-icon>
    <ion-icon name="woman" color="secondary"></ion-icon>
</div>

<div>

</div>

<div>

</div>
