<ion-card *ngIf="concours.annee == annee" class="card-concours">
    <ion-card-header>
        <ion-row class="card-concours-row-header">
            <ion-col class="card-concours-row-header-title">
                {{concours.name}}
                <ion-badge *ngIf="concours.points && concours.points > 0">{{concours.points}} pts</ion-badge>
            </ion-col>
            <ion-col class="card-concours-row-header-date">
                <ion-icon name="calendar"></ion-icon>
                {{concours.date}}
            </ion-col>
        </ion-row>
    </ion-card-header>
    <ion-card-content>
        <ion-row>
            <ion-col col-6>
                <div *ngIf="concours.ville" text-start>
                    <ion-icon name="pin"></ion-icon>
                    {{concours.ville}}
                </div>
            </ion-col>
            <ion-col col-6>
                <div *ngIf="concours.formation" text-end>
                    <formation formation="{{concours.formation}}"></formation>
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="flex-center">
            <ion-col *ngIf="concours.nbEquipes && concours.nbEquipes > 0">
                {{concours.nbEquipes}} équipes
            </ion-col>
            <ion-col *ngIf="concours.nbPartiesGagnees || concours.nbPartiesPerdues">
                <span *ngIf="concours.nbPartiesGagnees > 0" class="color-secondary">{{concours.nbPartiesGagnees}}G</span>
                <span *ngIf="concours.nbPartiesPerdues > 0" class="color-danger">{{concours.nbPartiesPerdues}}P</span>
            </ion-col>
            <ion-col *ngIf="concours.resultat !== ''">
                <span>{{concours.resultat}}</span>
                <span *ngIf="concours.repechage">( repechage )</span>
            </ion-col>
        </ion-row>
        <hr *ngIf="concours.partenaires && concours.partenaires.length > 0">
        <ion-row *ngFor="let partenaire of concours.partenaires">
            <ion-col>
                <ion-icon name="man" color="dark"></ion-icon>
                <span>{{partenaire}}</span>
            </ion-col>
        </ion-row>


        <ion-row class="flex-center">
            <button ion-button (click)="editConcours(concours)">Modifier</button>
        </ion-row>
    </ion-card-content>
</ion-card>
