<form #f="ngForm" (ngSubmit)="saveConcours()">
    <ion-list>
        <ion-item>
            <ion-input type="hidden" [(ngModel)]="concoursForm.id" name="id"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Lieu</ion-label>
            <ion-input type="text" [(ngModel)]="concoursForm.ville" name="ville"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Club</ion-label>
            <ion-input type="text" [(ngModel)]="concoursForm.club" name="club"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Date</ion-label>
            <ion-input type="date" [(ngModel)]="concoursForm.date" name="date"></ion-input>
        </ion-item>

        <ion-list radio-group [(ngModel)]="concoursForm.formation" name="formation">
            <ion-list-header>
                Formation
            </ion-list-header>
            <ion-item>
                <ion-label>TAT</ion-label>
                <ion-radio value="TAT"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Doublette</ion-label>
                <ion-radio value="D"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Doublette Mixte</ion-label>
                <ion-radio value="DM"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Triplette</ion-label>
                <ion-radio value="T"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Triplette Mixte</ion-label>
                <ion-radio value="TM"></ion-radio>
            </ion-item>
        </ion-list>

        <ion-item>
            <ion-label floating>Nb équipes</ion-label>
            <ion-input type="number" [(ngModel)]="concoursForm.nbEquipes" name="nbEquipes"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Nb parties gagnées</ion-label>
            <ion-input type="number" [(ngModel)]="concoursForm.nbPartiesGagnees" name="nbPartiesGagnees"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Nb parties perdues</ion-label>
            <ion-input type="number" [(ngModel)]="concoursForm.nbPartiesPerdues" name="nbPartiesPerdues"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Résultat</ion-label>
            <ion-input type="text" [(ngModel)]="concoursForm.resultat" name="resultat"></ion-input>
        </ion-item>

        <ion-segment [(ngModel)]="concoursForm.poste" name="poste" color="dark">
            <ion-segment-button value="tireur">
                Tireur
            </ion-segment-button>
            <ion-segment-button value="milieu">
                Milieu
            </ion-segment-button>
            <ion-segment-button value="pointeur">
                Pointeur
            </ion-segment-button>
        </ion-segment>

        <ion-item>
            <ion-label floating>Points</ion-label>
            <ion-input type="number" [(ngModel)]="concoursForm.points" name="points"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Repêchage</ion-label>
            <ion-checkbox [(ngModel)]="concoursForm.repechage" checked="repechage" name="repechage"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-input type="text"  [(ngModel)]="partenaire1" name="partenaire1" placeholder="partenaire"></ion-input>
        </ion-item>
        <ion-item *ngIf="concoursForm.formation == 'T' || concoursForm.formation == 'TM'">
            <ion-input
                type="text" [(ngModel)]="partenaire2"
                name="partenaire2" placeholder="partenaire"></ion-input>
        </ion-item>
    </ion-list>
    <button ion-button type="submit" block>Enregistrer</button>
    <button ion-button (click)="cancel()" block color="light">Annuler</button>
</form>
