<h3>Championnat</h3>

<form (ngSubmit)="save()">
  <fieldset>
    <legend>Niveau</legend>

    <ion-list radio-group [(ngModel)]="qualifForm.niveau" name="niveau">
        <ion-item>
            <ion-label>Secteur</ion-label>
            <ion-radio value="secteur"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>Départemental</ion-label>
            <ion-radio value="departemental"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>Pré-ligue</ion-label>
            <ion-radio value="preligue"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>Ligue</ion-label>
            <ion-radio value="ligue"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>National</ion-label>
            <ion-radio value="national"></ion-radio>
        </ion-item>
    </ion-list>
  </fieldset>
  <br>
  <fieldset>
    <legend>Formation</legend>
    <ion-list radio-group [(ngModel)]="qualifForm.formation" name="formation">
      <ion-item>
        <ion-label>TAT</ion-label>
        <ion-radio value="TAT"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Doublette</ion-label>
        <ion-radio value="D"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Doublette Mixte</ion-label>
        <ion-radio value="DM"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Triplette</ion-label>
        <ion-radio value="T"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Triplette Promotion</ion-label>
        <ion-radio value="TP"></ion-radio>
      </ion-item>
    </ion-list>
  </fieldset>
    <ion-item>
      <ion-label>Nb Equipes</ion-label>
      <ion-input type="number" [(ngModel)]="qualifForm.nbEquipes" name="nbEquipes"></ion-input>
    </ion-item>

  <ion-item>
    <ion-label>Qualifié</ion-label>
    <ion-checkbox [(ngModel)]="qualifForm.estQualifie" name="estQualifie"></ion-checkbox>
  </ion-item>
</form>
