<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>calendrier</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  msg: {{msg}}<br>
  err: {{err}}
</ion-content>
